<div class="card mb-3">
  <div class="row g-0">
    <div class="col-4">
    hello
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Total expense</p>
      </div>
    </div>
  </div>
</div>